<% provide(:title, @taxon.name) %>
<%= render 'potepan/categories/light_section_header', taxon: @taxon %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <% @taxonomies.each do |taxonomy| %>
                  <li>
                    <%= link_to "javascript:;", data: {toggle: "collapse", target: "#category-#{taxonomy.id}"} do %>
                      <%= taxonomy.name %>
                      <i class="fa fa-plus"></i>
                    <% end %>
                    <ul id="category-<%= taxonomy.id %>" class="collapse collapseItem">
                      <% taxonomy.root.leaves.each do |leaf| %>
                        <li>
                          <%= link_to potepan_category_path(leaf.id) do %>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <%= leaf.name %>
                            <span>(<%= leaf.products.count %>)<span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= render 'potepan/categories/filter_by_color', colors: @colors, taxon: @taxon %>
        <%= render 'potepan/categories/filter_by_size', sizes: @sizes, taxon: @taxon %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <div class="col-xs-6">
            <%= form_with(url: request.path, method: :get, local: true) do |f| %>
              <%= f.select(:order, [["新着順", "arrivals_desc"], ["古い順", "arrivals_asc"], ["安い順", "low_price"],
                                  ["高い順", "high_price"]], selected: (params[:order] || "arrivals_desc"), class: "select-drop") %>
              <%= f.submit "絞り込み" %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-default active" onclick="window.location.href='product_grid_left_sidebar.html'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
              <button type="button" class="btn btn-default" onclick="window.location.href='product_list_left_sidebar.html'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
            </div>
          </div>
        </div>
        <div class="row">
          <%= render partial: 'product', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/categories/light_section_footer' %>
